
.tabs {
    padding: 8px;
    text-align: center;
    width: 80px;
    background: #b2f2bb;
    cursor: pointer;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.274); */
    box-sizing: content-box;
    position: relative;
    outline: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 2px;
  }
  
  .active-tabs  {
    background: #51cf66;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
  }
  
  button {
    border: none;
  }
  
  .content-tabs {
    flex-grow : 1;
  }
  .content {
    width: 410px;
    height: 380px;
    margin-left: 10px;
    display: none;
    border: solid 1px green; 
    border-radius: 20px;
  }
  .active-content {
    display: block;
  }